* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
}

.col {
  flex-direction: column;
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: azure;
  border-radius: 10px;
  transition: background 0.3s;
}

.col h2:hover {
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.col button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
}
.col button:hover {
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background 0.3s;
}
